
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}
h1, p {
    margin: 10px 0;
}

.all {
    display: flex;
}